#upload_form {
    margin-bottom: 10px;
}
.result-list {
    margin: 0px;
    padding: 0px;
    margin-top: 10px;
}
.result-list > li {
    list-style-type: "-";
    margin-left: 20px;
}
.result-list > li.list-header {
    font-weight: bold;
    margin-left: 0px;
    list-style-type: none;
}
#error_div {
    color: #aa0000;
    font-weight: bold;
}
#status_div {
    color: #00aa00;
    font-weight: bold;
}
#size_div .bold {
    font-weight: bold;
}
#size_div .red {
    color: #aa0000;
}
#size_div .green {
    color: #00aa00;
}
#size_div .blue {
    color: #0000aa;
}
.header-content {
    width: 100%;
    border-bottom: 1px solid #000000;
    margin-bottom: 10px;
}